.regist-category-area

.tweets-area
  %table.table
    %thead
      %tr
        %th
          index
        %th
          id
        %th
          popular
        %th
          text
        %th
          created_at
        %th
          urls
        %th
          category
    %tbody
      - @tweet.each_with_index do |tw, index|
        %tr
          %td
            = index + 1
          %td
            %a{ href: tw.link, target: '_blank' }
              = tw.id
          %td
            = tw.popular.last.popular
          %td
            - tw.text.split(/\R/).each do |s|
              = s
              %br
          %td
            = tw.tweet_at.strftime("%Y-%m-%d %H:%M:%S")
          %td
            %ul
              - tw.urls.split(',').each do |url|
                %li
                  %a{ href: url, target: '_blank' }
                    = url
          %td
            = ぼたん